<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>장소</title>
</head>
<body>
<p>
  <span id="locationTitle">This is place detail page.</span>
</p>
<table id="locationTable">
  <tbody>
  <tr>
    <td>장소 유형</td>
    <td><span id="locationType">?</span></td>
  </tr>
  <tr>
    <td>장소 이름</td>
    <td><span id="locationName">?</span></td>
  </tr>
  <tr>
    <td>주소</td>
    <td><span id="address">?</span></td>
  </tr>
  <tr>
    <td>전화번호</td>
    <td><span id="phoneNumber">?</span></td>
  </tr>
  <tr>
    <td>수용 인원</td>
    <td><span id="capacity">?</span></td>
  </tr>
  </tbody>
</table>
<a id="backToLocations" type="button">취소</a>
</body>
</html>